
<div style="padding:40px; margin: 0 auto; max-width: 840px; ">
    <h2 >Driver Updates</h2>
    <p>Updates below are coming from a fake phone class in the apis config/bootstrap.js. The updates are posted from the fake device every 5 seconds. Once there are a number of the same <strong>Geo Locations</strong>(approximately 6 for 30 seconds at 5 second update intervals) present for a threashold of 30 seconds the system will issue a long stop driver alert and will keep doing so until the driver starts to drive again. You can watch the server outputs fake route data to see what the driver is doing</p>
    <div id="driver_updates" style="overflow: scroll; scroll-behavior: auto; height: 600px; "></div>
</div>

<!--<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3183+wilshire+blvd.,+Los+angeles+CA+90010&amp;mrt=loc&amp;sll=34.061548,-118.290911&amp;sspn=0.030362,0.066047&amp;ie=UTF8&amp;hq=&amp;hnear=3183+Wilshire+Blvd,+Los+Angeles,+California+90005&amp;ll=34.0688,-118.288422&amp;spn=0.024885,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>-->
